.container {
    width: 34.3rem;
    height: 100%;

    box-shadow: 2px 2px 1px black, inset 2px 2px 1px var(--light-gray);

    border-radius: 1px;

    color: var(--dark-gray);

    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}

.header {
    display: flex;
    align-items: center;
    gap: 1.185rem;
    
    padding-left: 1.58rem;
}

.header img {
    cursor: pointer;
}

.question {
    margin-top: 2.2rem;
}

.input {
    width: 31.5rem;
    height: 16px;
    resize: none;

    margin-top: calc(3rem - 16px);
    margin-left: 1.6rem;
    margin-bottom: .8rem;

    background: none;
    
    border-bottom: 1px solid var(--dark-gray);
    border-inline: none;
    border-top: none;

    outline: none;

    color: black;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: 'VT323';
}

.buttons {
    display: flex;
    gap: 3.55px;

    margin-left: 1.6rem;

    list-style: none;
}

.buttons li {
    background: none;
    padding: 3px 0 0 2.5px;

    width: 3.6rem;
    height: 3.6rem;

    margin: 6px 0;

    border: none;
    border-radius: 1px;

    box-shadow: 2px 2px 1px black, inset 2px 2px 1px var(--light-gray);
}

.buttons li button {
    background: none;
    border: none;
    padding: .6rem;

    color: black;
}

.buttons li:nth-child(2) {
    padding-top: .61rem;
}

.buttons li:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6.5rem;
    height: 3.6rem;

    margin-left: 1.626rem;

    padding-bottom: .2rem;
}

.buttons li:nth-child(7) button {
    font-family: 'VT323';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;

    width: 100%;
}

.buttons li:active {
    box-shadow: 2px 2px 1px var(--light-gray), inset 2px 2px 1px black;
    padding: .4rem .2rem .2rem;
}

.buttons li:nth-child(2):active {
    padding-top: .61rem;
}

@media (min-width: 834px) {
    .container {
        width: 47.8rem;
        height: 100%;

        padding-bottom: 1rem;
    }

    .header {
        padding-top: .8rem;
    }

    .question br {
        display: none;
    }

    .buttons {
        margin-left: 7.6rem;
        gap: 1.1rem;

    }

    .buttons li:nth-child(7) {
        margin-left: calc(5rem - 1.626rem);
    }

    .input {
        width: 39.4rem;
        margin-left: 7.6rem;
    }
    
}