@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: var(--bg-color);
}

:root {
  font-size: 62.5%;

  --bg-color: #B8B8B8;
  --light-gray: #E1E1E1; 
  --dark-gray: #797979;
}

a {
  color: inherit;
  text-decoration: none;
  
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 1px;
}