.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;


    height: 100%;

    padding-bottom: 8rem;
}

.main {
    display: flex;
    margin-top: 7rem;

    gap: 1.8rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.asideMenu {
    display: none;
}

.otherSide {
    display: none;
    flex-direction: column;
    gap: 1.2rem;
}

@media (min-width: 834px) {

    .asideMenu {
        display: block;
    }
}

@media (min-width: 1512px) {
    .otherSide {
        display: flex;
    }
}
