.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    background-color: var(--bg-color);

}

/* ========== HEADER ========== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 37.5rem;
    height: 5.4rem;

    padding: 6px 16px;
    margin-bottom: 1.8rem;

    border-bottom: 2px solid black;
}

.ungroupButton {
    background: none;
    padding: 3px 0 0 2.5px;

    width: 3.6rem;
    height: 3.6rem;

    margin: 6px 0;

    border: none;
    border-radius: 1px;

    box-shadow: 2px 2px 1px black, inset 2px 2px 1px var(--light-gray);
}

.ungroupButton:active {
    box-shadow: 2px 2px 1px var(--light-gray), inset 2px 2px 1px black;
    padding: .4rem .2rem .2rem;
}




/* ========== FOOTER ========== */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 39rem;
    height: 6rem;
    
    position: fixed;
    bottom: 0;

    border-top: 2px solid black;
}

.footer ul {
    display: flex;
    gap: 6.6rem;

    list-style: none;
}

.footer ul li button {
    background: none;
    border: none;

    width: 3.6rem;
    height: 3.6rem;
    text-align: center;

    box-shadow: 2px 2px 1px black, inset 2px 2px 1px var(--light-gray);

    padding: .7rem .5rem .5rem .8rem;
}

.footer ul li button:active {
    box-shadow: 2px 2px 1px var(--light-gray), inset 2px 2px 1px black;
}